name: Release

on:
  push:
    tags:
      - "v*" # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  create-release:
    runs-on: ubuntu-latest
    needs: [build-mac, build-linux, build-win]
    steps:
      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{ github.ref }}
          draft: false
          prerelease: false
      - name: Get Tag Name
        id: get_tag_name
        run: echo "::set-output name=tag_name::${GITHUB_REF/refs\/tags\//}"
      - name: Download Artifacts
        uses: actions/download-artifact@v1
        with:
          name: uploads
      - name: Upload macOS
        id: upload_macos
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uploads/macos.tar.gz
          asset_name: fistbump-${{ steps.get_tag_name.outputs.tag_name }}-x86_64-apple-darwin.tar.gz
          asset_content_type: application/gzip
      - name: Upload Linux
        id: upload_linux
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uploads/linux.tar.gz
          asset_name: fistbump-${{ steps.get_tag_name.outputs.tag_name }}-x86_64-unknown-linux-musl.tar.gz
          asset_content_type: application/gzip
      - name: Upload Windows
        id: upload_windows
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./uploads/fistbump.exe
          asset_name: fistbump-${{ steps.get_tag_name.outputs.tag_name }}-x86_64-pc-windows-msvc.exe
          asset_content_type: application/octet-stream
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v1.2.2
        with:
          rust-version: stable
          targets: "x86_64-unknown-linux-musl"
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Build
        env:
          TARGET: x86_64-unknown-linux-musl
        run: cargo build --release --verbose --target $TARGET --locked
      - name: Compress Binary
        uses: master-atul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          files: |
            ./target/x86_64-unknown-linux-musl/release/fistbump
          outPath: ./linux.tar.gz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: uploads
          path: linux.tar.gz
  build-mac:
    runs-on: macOS-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v1.2.2
        with:
          rust-version: stable
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Build
        env:
          MACOSX_DEPLOYMENT_TARGET: 10.7
          TARGET: x86_64-apple-darwin
        run: cargo build --release --verbose --target $TARGET --locked
      - name: Compress Binary
        uses: master-atul/tar-action@v1.0.2
        id: compress
        with:
          command: c
          files: |
            ./target/x86_64-apple-darwin/release/fistbump
          outPath: ./macos.tar.gz
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: uploads
          path: macos.tar.gz
  build-win:
    runs-on: windows-latest
    steps:
      - name: Setup Rust
        uses: hecrj/setup-rust-action@v1.2.2
        with:
          rust-version: stable
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Build
        env:
          TARGET: x86_64-pc-windows-msvc
        run: cargo build --release --verbose --target x86_64-pc-windows-msvc --locked
      - name: Upload Artifacts
        uses: actions/upload-artifact@v1
        with:
          name: uploads
          path: ./target/x86_64-pc-windows-msvc/release/fistbump.exe
